/*
 * Build using modified BEM (block-element-modifier)
 * So an ex. of mod BEM is btn-modal-lg, or btn-lg
 */

/* general style/themes */

p, h1, h2, h3, h4, h5, h6 {
	color: #424242;
}

a {
	color: #6699cc;
	text-decoration: none;
}

li {
	padding: none;
	margin: none;
}

html {
	background-color: #fefefe;
}

.notable {
	color: #cc6600;
}

/* image header */

.header-img {
	width: 100%;
	overflow-y: hidden;
}

.personal-picture-wrapper {
	width: 100%;
	overflow: visible;
}

/*  Blog link near header  */

.content-center-button {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.content-center-button button {
	margin: 0 auto;
}

.personal-picture {
	margin: 1rem auto;
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	overflow: hidden;
	float: center;
	box-shadow: -2px 0 10px #888;
}

/*  additional table styleing  */


.center-table {
	margin: auto;
	margin-bottom: 1em;
}

.center-table * {
	text-align: center;
}

/*  footer  */

.footer-wrapper {
	background-color: #fafafa;
	box-sizing: border-box;
	padding: 3rem 0;
	text-align: center;
}

.footer-copyright {
	font-weight: bold;
}

.footer-container {
	margin-bottom: 1rem;
}

/*  content-wrapper notation  */

.content-wrapper {
	box-sizing: border-box;
	padding: 2em;
	margin-bottom: 4rem;
	background-color: #fafafa;
}

.content-header {
	margin-bottom: 2em;
}

.content-title, .content-subtitle {
	color: #424242;
	margin: 0;
	padding: 0;
}

.content-body {
	padding: 0;
	color: #424242;
}

.content-body li {
	margin-bottom: 0px;
	padding: 0px;
	list-style: none;
}

.content-body lh {
	font-weight: bold;
}

.reading-content-style p {
	font-size: 1.3em;
}

.reading-content-style > p {
	margin-bottom: 2em;
}

.reading-content-style {
	padding: 2.5em 3em;
}

.content-footer {
	margin: 0;
	padding: 0;
	text-align: right;
}

.content-footer-dates {
	font-size: .8em;
	font-family: monospace;
}

.image-caption {
	font-size: .8em;
	margin-top: .4em;
	margin-bottom: .8em;
}

.full-image-wrapper {
	margin: auto;
	width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
	.full-image-wrapper {
		margin: auto;
		margin-bottom: 2em;
		width: 100%;
	}
}

.image-wrapper {
	margin: 0 auto;
	width: 40%;
}

/*  subject colors  */

.job {
	color: #73d4ff;
}

.job:hover:after {
	content: ' (Job)';
}

.project {
	color: #ffc55b;
}

.project:hover:after {
	content: ' (Project)';
}

.skill {
	color: #58bf00;
}

.skill:hover:after {
	content: ' (Skill)';
}

.analysis {
	color: rgba(178, 82, 0, 0.74);
}

.analysis:hover:after {
	content: ' (Analysis)';
}

.quote {
	font-style: italic;
	width: 80%;
	margin: 0 auto;
}

